<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /> 
    </providers>
  </entityFramework>
  <connectionStrings>
   
    <!--UAT-->
    <!--<add name="vt_BraunAppEntities" connectionString="metadata=res://*/DBEntities.Braunability.csdl|res://*/DBEntities.Braunability.ssdl|res://*/DBEntities.Braunability.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lavender.arvixe.com;initial catalog=vt_BraunAppDB_2;user id=vtLocalDBUser;password=inter123net;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--This Local-->
    <!--<add name="vt_BraunAppEntities" connectionString="metadata=res://*/DBEntities.Braunability.csdl|res://*/DBEntities.Braunability.ssdl|res://*/DBEntities.Braunability.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUNAID-PC\SQL2014;initial catalog=vt_BraunAppDB_2;user id=sa;password=viftech;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--AWS RDS-->
    <!--<add name="vt_BraunAppEntities" connectionString="metadata=res://*/DBEntities.Braunability.csdl|res://*/DBEntities.Braunability.ssdl|res://*/DBEntities.Braunability.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=codecreatordb.cotxal6fukje.us-east-1.rds.amazonaws.com;initial catalog=vt_BraunAppDB_2;user id=adminMaster;password=8btw!IV3XeG!CvRPGo7wSUS!69M!Fd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="vt_BraunAppEntities" connectionString="metadata=res://*/DBEntities.Braunability.csdl|res://*/DBEntities.Braunability.ssdl|res://*/DBEntities.Braunability.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.204.170.217;initial catalog=vt_BraunAppDB_2;user id=sa;password=Viftech123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>
</configuration>