
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Privacy Policy</h1><br />
            <p>
                This privacy policy discloses the privacy practices for www.braunability.com (the “website”). It describes how The Braun Corporation and BraunAbility, their affiliates, and subsidiaries (collectively, “BraunAbility,” “Braun,” “our,” “we,” or “us”) collect, use, store, share, and safeguard your information collected from the website. BraunAbility may be contacted with questions about this privacy policy at 800-488-0359 or questions@braunability.com. We may also be contacted at BraunAbility, 631 W. 11th St., Winamac, IN 46996, Attention: Privacy Policy.

                The controller for purposes of this policy is The Braun Corporation, 631 W. 11th St., Winamac, IN 46996.

                This privacy policy applies solely to information collected by our website. This policy will notify you of the following:

                What personal information is collected from you through the website, how it is used, and with whom it may be shared.
                What choices are available to you regarding the use of your information.
                How you can request access to, correct any inaccuracies in, or request deletion of the personal information collected
                Please read this policy carefully to understand our practices regarding your information and how we will treat it.  If you do not agree with our policies and practices, then please do not use our website.  By using our website, you agree to the terms of this policy.  This policy may change from time to time (see below, “Updates” below). This policy should be read in conjunction with our Terms of Use, into which this policy is incorporated by reference.  Your continued use of our website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.
            </p>
        </div>
    </div>
</body>
</html>


