@model Braunability_ViewModal.Model.BraunVM_Request.EmployeeForm
@{ 
    var thiscontroller = (Bruneability_Portal.Controllers.BaseController)ViewContext.Controller;
    var _currentuser = thiscontroller.CurrentUser;
    
    }


<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<link href="~/Content/validator.css" rel="stylesheet" />
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validator.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/scripts/jquery.toast.js"></script>
<style>
    .error {
        color: red;
    }
</style>

<input type="hidden" id="sess" value="@_currentuser.SessionUser.Password" />
<input type="hidden" id="mypassword" />
<div class="modal fade" id="changepswrd">
    <div class="modal-dialog">
        <div class="modal-content">
           
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-close"></i></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="changeForm" action="/Admin/ChangePassword" method="post" >
                        <div class="form-group row">

                            <label class="col-sm-4 col-form-label text-sm-right pr-0">Current Password</label>
                            <div class="col-sm-6">
                                <input type="password" id="current_password" name="current_password" class="form-control">                                
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group-prependcurrent">
                                    <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-sm-right pr-0">New Password</label>
                            <div class="col-sm-6">
                               
                                    <input type="password" id="new_password" name="new_password" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <div class="input-group-prependnew">
                                        <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                    </div>
                                </div>
                                @*<input type="password" id="new_password"   name="new_password" class="form-control">
                                <div class="input-group-prependnew">
                                    <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                </div>*@
                          
                        </div>

                        <div class="form-group row mb-0">
                            <label class="col-sm-4 col-form-label text-sm-right pr-0">Confirm Password</label>
                            <div class="col-sm-6">
                                <input type="password" id="again_password" name="again_password" class="form-control">                                   
                                </div>
                                <div class="col-sm-2">
                                    <div class="input-group-prependagain">
                                        <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                        </div>
                                    </div>
                                @*<input type="password" id="again_password" name="again_password" class="form-control">
                                <div class="input-group-prependagain">
                                    <span class="input-group-text"><i class="fa fa-eye"></i></span>
                                </div>*@
                           
                        </div>
                        <button class="btn btn-cstm btn-blue btn_save" type="submit">Save</button>
                        <button class="btn btn-cstm btn-white" data-dismiss="modal">Cancel</button>
                    </form>
                         </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div class="col-sm-12 text-right">
                       
                        
                       @*<input type="submit" value="Validate!" class="btn btn-cstm btn-blue" />*@
                    </div>
                </div>
        </div>
    </div>
</div>
<script>

    $(".input-group-prependnew").click(function () {
        debugger

        //$('#Password').attr('type', 'text');

        var flag = $(this).find("i").hasClass("fa fa-eye")
        if (flag) {
            $('#new_password').attr('type', 'text');
            $(this).find("i").removeAttr("class");
            $(this).find("i").attr('class', 'fa fa-eye-slash');
        }
        else {
            $('#new_password').attr('type', 'password');
            $(this).find("i").removeAttr("class");
            $(this).find("i").attr('class', 'fa fa-eye');
        }
        //$(this).find("i").removeAttr("class");
        //$(this).find("i").attr('class', 'fa fa-eye-slash');

    });
    $(".input-group-prependagain").click(function () {
        debugger

        //$('#Password').attr('type', 'text');

        var flag = $(this).find("i").hasClass("fa fa-eye")
        if (flag) {
            $('#again_password').attr('type', 'text');
            $(this).find("i").removeAttr("class");
            $(this).find("i").attr('class', 'fa fa-eye-slash');
        }
        else {
            $('#again_password').attr('type', 'password');
            $(this).find("i").removeAttr("class");
            $(this).find("i").attr('class', 'fa fa-eye');
        }
        //$(this).find("i").removeAttr("class");
        //$(this).find("i").attr('class', 'fa fa-eye-slash');

    });
    $(".input-group-prependcurrent").click(function () {
        

        //$('#Password').attr('type', 'text');

        var flag = $(this).find("i").hasClass("fa fa-eye")
        if (flag) {
            $('#current_password').attr('type', 'text');
            $(this).find("i").removeAttr("class");
            $(this).find("i").attr('class', 'fa fa-eye-slash');
        }
        else {
            $('#current_password').attr('type', 'password');
            $(this).find("i").removeAttr("class");
            $(this).find("i").attr('class', 'fa fa-eye');
        }
        //$(this).find("i").removeAttr("class");
        //$(this).find("i").attr('class', 'fa fa-eye-slash');

    });

    function getDecryptPasswordFromSession() {
        var CurrentUserPassword = "";
        var decryptionText = $('#sess').val();
        $.ajax({
            type: 'POST',
            url: '/Admin/DecryptPasswordForChange',
            data: { EncryptPassword: decryptionText },
            async: false,
            success: function (response) {
                debugger
                CurrentUserPassword = response.currentUserPassword;
                $('#mypassword').val(CurrentUserPassword);
            }
            
           
        });

        //$.post('/Admin/DecryptPasswordForChange', { EncryptPassword: decryptionText }, function (response, status) {
        //    if (status == "success") {
               
        //    }
        //});
        return CurrentUserPassword;
    }
   
    function Checkvalidate() {
        $("#changeForm").validate({
            rules: {
                current_password: {
                    required: true,
                    equalTo: "#mypassword",

                },
                new_password: {
                    required: true,
                    minlength: 5,
                    //maxlength: 12,
                    
                },

                again_password: {
                    required: true,
                    equalTo: "#new_password"
                },

            },
            messages: {
                new_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    //maxlength: "Please enter no more than 12 numeric.",
                    //number: "Please enter numeric value."
                },
                current_password: {
                    required: "Please provide a password",
                    equalTo: "Password is incorrect."
                },
                again_password: {
                    required: "Please provide a password",
                    equalTo: "Please enter the same password as above",

                },

            },

            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parents(".col-sm-5").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".col-sm-5").addClass("has-success").removeClass("has-error");
            },
            //showErrors: function (errorMap, errorList) {
            //    $("#summary").html("Your form contains "
            //      + this.numberOfInvalids()
            //      + " errors, see details below.");
            //    this.defaultShowErrors();
            //}
        });
    }
 
    $(document).ready(function () {
       
        var checkPAss=getDecryptPasswordFromSession();
        Checkvalidate();
      
       
    });
    

    //$('.btn_save').on('click', function () {
      
    //    debugger
    //    var isvalidate = $("#changeForm").validate();
    //    var is_vali =validate("changeForm");
    //    if (true) {
    //        $.post('Admin/ChangePassword', { new_password: $('#again_password').val() }, function (response, status) {
    //            debugger
    //            if (status == "success") {
    //                debugger
    //                if (response.status) {
    //                    AlertToast("success", response.message);
    //                }
    //                else {
    //                    AlertToast("warning", response.message);
    //                }


    //            }

    //            else {
    //                AlertToast("warning", "Try again later.");
    //            }
    //        });
    //    }
        
    //});

        
</script>