
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Braun Ability</title>

    <!-- Bootstrap -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- font-awesome -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- poppins font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- iconmoon -->
    <link href="~/assets/css/iconmoon.css" rel="stylesheet">

    <!-- mtstyle -->
    <link href="~/assets/css/mtstyles.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet">


    <style>
		  .error-image svg {
			height: 350px;
			width: auto;
			margin: 24px;
		  }
		  @@media (max-width: 400px) {
			.error-image svg {
			  height: 250px;
			}
		  }

		  .wv-heading--title
		  {
			font-size: 33px;
			line-height: 40px;
			font-weight: bold;
		}

		.wv-heading--subtitle {
			color: #718fa2;
			font-weight: normal;
			font-size: 23px;
			line-height: 32px;
		}

			ul.wv-list--plain--vertical {
				list-style: none;
				padding-left: 0;
			}

			ul.wv-list--plain--vertical li a
			{
				color: #0079c2;
				text-decoration: none;
			}
    </style>
</head>

<body>

    <div class="container">
        <div class="text-center">
            <img class="mt-30" src="assets/images/logo.png" width="320px">
            <div class="error-image">
                <svg viewBox="0 0 447 470" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="62.656%" y1="10.924%" x2="38.118%" y2="86.995%" id="a"><stop stop-color="#2575DB" offset="3%" /><stop stop-color="#582994" offset="96%" /></linearGradient><linearGradient x1="50%" y1="-11.905%" x2="50%" y2="79.488%" id="b"><stop stop-color="#2575DB" offset="3%" /><stop stop-color="#582994" offset="100%" /></linearGradient><linearGradient x1="45.102%" y1="6.305%" x2="52.806%" y2="100.323%" id="c"><stop stop-color="#419AE0" offset="3%" /><stop stop-color="#2674DB" offset="100%" /></linearGradient><linearGradient x1="50%" y1="2.083%" x2="50%" y2="95.058%" id="d"><stop stop-color="#419AE0" offset="3%" /><stop stop-color="#2674DB" offset="100%" /></linearGradient><linearGradient x1="52.121%" y1="-54.691%" x2="50.794%" y2="179.109%" id="e"><stop stop-color="#419AE0" offset="3%" /><stop stop-color="#2674DB" offset="100%" /></linearGradient></defs><g fill-rule="nonzero" fill="none"><path d="M408.46 214.91c-.313 1.86-.647 3.713-1 5.56-.8 3.69-30.46 121.69-30.69 122.53-26.086 90.274-118.719 143.917-210 121.61l-1.67-.43c-1-.24-2-.5-2.93-.77-92.475-25.227-147.507-120.09-123.5-212.89.21-.81 30.08-118.75 31.31-122.32 30.12-87.355 122.875-136.332 212-111.94 1.38.38 2.75.78 4.1 1.18l.47.14c84.565 25.647 136.819 110.228 121.91 197.33z" fill="url(#a)" /><path d="M408.46 214.91c-.313 1.86-.647 3.713-1 5.56-.8 3.69-30.46 121.69-30.69 122.53-26.086 90.274-118.719 143.917-210 121.61l-1.67-.43c-1-.24-2-.5-2.93-.77-67.307-18.389-117.305-74.937-127.31-143.99 123.48-46.27 322.48-114.27 322.48-114.27l51.12 9.76z" fill="url(#b)" /><path d="M329.53 168.58c1.5-16.16-8.32-13.2-10.31-37-.19-2.35-.11-5.65 2.24-5.82a3.83 3.83 0 0 1 2.08.64 15.31 15.31 0 0 1 5.38 5.23c2.78-8.42.56-17.65-2.51-26-3.07-8.35-7-16.53-7.7-25.37a9.53 9.53 0 0 1 .92-5.74c1-1.68 3.37-2.7 5.06-1.69 2 1.2 2.65 4.7 5 4.52 1.82-.14 2.44-2.47 2.48-4.29.18-9.58-2.76-18.92-4-28.42-1.24-9.5-.41-20.07 6-27.16 2.75-3 6.82-5.3 10.84-4.5 5 1 8 6.16 9.09 11.1 1.74 7.56.65 15.49-1.16 23-1.68 7-5 22.61-1.94 22.36s3.14-4.82 6.07-5.07 3.45 2.76 3.8 4.91a16 16 0 0 1-.68 6.47C356.46 90.48 350 105 351.13 120a3 3 0 0 0 .76 2.1c1.2 1 3-.37 3.56-1.81s.83-3.2 2.15-4a3.27 3.27 0 0 1 4 .9 7.57 7.57 0 0 1 1.52 4.08c2 15.82-11.81 30.76-8.9 46.45l-24.69.86z" fill="url(#c)" /><path d="M362.92 234.15s-3.87 5.3-21.16 5.3-20.36-5.3-20.36-5.3L310.48 166h63.36l-10.92 68.15z" fill="url(#d)" /><path d="M318.87 166.55c15.48-.07 31-.14 46.46-.07a.5.5 0 0 0 0-1c-15.49-.07-31 0-46.46.07a.5.5 0 0 0 0 1zM323.05 236c11.24 5 26.89 6 38 .12.57-.3.07-1.17-.5-.86-10.74 5.68-26.08 4.74-37-.12-.58-.26-1.09.6-.5.86zM342.64 20c-3.58 37.12-4.17 74.45-4 111.72.047 10.56.133 21.12.26 31.68a.5.5 0 0 0 1 0c-.38-37.28-.7-74.59 1.38-111.83A780.773 780.773 0 0 1 343.66 20c.06-.64-.94-.64-1 0h-.02zM344.11 89.94a129.57 129.57 0 0 0 8.64-11.69c.35-.54-.52-1-.87-.51a125 125 0 0 1-8.48 11.49c-.4.49.3 1.21.71.71zM325.3 85.71a82.16 82.16 0 0 0 6.7 12.77c.35.54 1.21 0 .86-.5a80.13 80.13 0 0 1-6.59-12.54c-.25-.58-1.22-.33-1 .27h.03zM324.26 135a105.94 105.94 0 0 0 9 14c.39.5 1.26 0 .86-.51a105.23 105.23 0 0 1-9-14c-.31-.57-1.17-.06-.87.51h.01zM347.86 147.9a63.89 63.89 0 0 0 11.45-22.52.518.518 0 0 0-1-.27 62.63 62.63 0 0 1-11.19 22.09c-.39.5.31 1.21.71.7h.03zM344.87 41.68a129.167 129.167 0 0 0 6.16-10.4c.3-.56-.56-1.07-.87-.5a129.42 129.42 0 0 1-6.15 10.4c-.36.54.51 1 .86.5zM332.31 41.46l4.43 14.45c.19.61 1.16.35 1-.27l-4.46-14.44c-.19-.62-1.16-.36-1 .26h.03z" fill="#1F65A6" /><path d="M393 190.94c-3.46-.42-14 59.49-24.23 85.24a240.91 240.91 0 0 1-22.49 43.26l-1-7c-1.84-18.21-5.45-35.63-13.14-49.89-14.53-27-63.75-56-71.85-78.08-8.1-22.08-5.59-99.77-5.59-99.77.1-16.54-.11-73.84-6.06-73.84-5.95 0-14.19 35.47-17.5 43.71a36.84 36.84 0 0 0-17.66-6.4c-1.54-8.29-7.38-21.85-10.68-30.39S195.85.15 190.56.15s-2.35 35.65-2.69 48.1a57.08 57.08 0 0 1-1.18 12.1c-2.21 9.18-6.41 13.64-6.41 27.11 0 0-30.24 9.91-44.68 14-2.46.7-5.06 1.49-6.76 3.39-2.91 3.22-2.14 8.2-1.21 12.43 1.09 4.93 2.2 9.87 3.29 14.8.79 3.55 1.7 7.34 4.34 9.85a18.5 18.5 0 0 0 6.2 3.37 42.52 42.52 0 0 0 8 2.55c4.54.81 9.21.17 13.74-.76 2.62-.533 5.217-1.147 7.79-1.84l4.83-1.35 2.06 63.5c3.333 58.833 6.697 117.663 10.09 176.49 0 0-6.44 1-8.51 5.41-1.25 2.72-1.15 6.2.9 8.4 2.56 2.73 6.87 2.73 10.57 2.14 3.15-.51 7.3-2.44 10.31-3.52 0 0-.44-77.36.94-110.23l.92 1.92c7.79 19.27 16.79 37.6 28.53 54 .36 11.17.7 21.4 1 29.44-2.66 1.86-5.28 3.8-7.88 5.77-2.39 1.82-4.83 3.78-6.07 6.5-1.24 2.72-.91 6.44 1.57 8.13 1.72 1.17 8.61.92 14.23-1.46 4.38-1.85 23.12-12.19 28.27-15.45l-2-1.86a26.83 26.83 0 0 0 7.75 4.39c4 1.32 21.58 4.27 33.71 4.27l.15 1.11s-28.64 23.37-28.06 30.21c.58 6.84 9.14 8.58 12.88 7s32.39-28.84 43.74-39.62c0 0 35.74-26.8 55.21-93.42s10.35-95.65 6.87-96.08zM247.22 361.76v-1l.59.61-.59.39z" fill="#FCB32C" /><path d="M345.82 320.18a166.35 166.35 0 0 1 1.94 26.09.5.5 0 0 0 1 0 167.19 167.19 0 0 0-2-26.35c-.1-.64-1.07-.37-1 .26h.06z" fill="#1F65A6" /><path d="M249.75 274c-.56 42.1-2.86 143.2-3.17 149.68a28.2 28.2 0 0 1-15.58 4.14c-3.69-.13-7.45-2.28-7.45-7.14 0-8.22 9.73-9.09 9.73-9.09s-3.12-129-3.77-149.68L249.75 274z" fill="#FCB32C" /><path d="M310.19 287.51c-27 13.64-30.43 51.25-20.29 76.63a53.29 53.29 0 0 0 12.51 19.06c.47.44 1.17-.26.71-.71-10.13-9.58-15.32-23.59-16.9-37.22-1.61-13.85.3-28.75 7.52-40.88a41.61 41.61 0 0 1 17-16c.57-.29.07-1.15-.51-.86l-.04-.02z" fill="#1F65A6" /><path d="M405.81 244.64a129.89 129.89 0 0 0 6-25.88c.59-4.67.73-9.33 1-14 0-.48.6-9 3.24-6.49.69.66.86 2.81 1.07 3.72.21.91.46 2.06.66 3.09a98.58 98.58 0 0 1-4.52 53.42c-.23.6.74.87 1 .27a99.62 99.62 0 0 0 5.62-47.15 96.94 96.94 0 0 0-2.07-11.21c-.35-1.42-1.08-4.6-3.26-4-2.18.6-2.28 4.41-2.49 6.07-.52 4.15-.44 8.37-.84 12.54a128.93 128.93 0 0 1-6.4 29.37c-.21.61.76.88 1 .27l-.01-.02zM427.21 261c4.32-4.93 8.27-10.26 12.92-14.89.85-.84 3.66-4 4.91-2.6.79.9.17 3.25 0 4.21-1.1 5-3.53 9.72-6.08 14.09A76.78 76.78 0 0 1 426.42 278a.502.502 0 0 0 .71.71 78.11 78.11 0 0 0 14-18.78c2.3-4.28 5.11-9.57 5.19-14.57.06-3.26-2.11-3.8-4.56-2a44.71 44.71 0 0 0-7 7.22c-2.77 3.24-5.46 6.55-8.27 9.75-.42.48.28 1.19.71.71l.01-.04zM367.38 229.47c-.54-12.21-3.78-24.12-4.4-36.29-.05-1-.44-3.74.51-4.52 1.5-1.23 3.69 2.8 4.22 3.73 3.61 6.32 5.48 13.86 6.21 21.05.07.64 1.07.64 1 0-.78-7.66-2.74-15.95-6.93-22.53-1.12-1.76-4.6-5.68-5.79-1.79-.57 1.87-.25 4.13-.07 6 .29 3.16.78 6.3 1.26 9.43 1.25 8.26 2.62 16.53 3 24.89 0 .64 1 .64 1 0l-.01.03zM353.84 238.8c-1.41-6.32-3.28-12.51-5.26-18.67-1.44-4.5-3.22-9-4.1-13.7-.2-1-.7-2.65.77-2.56 1.31.08 2.75 1.73 3.57 2.59 3.92 4.13 6.43 9.58 8.25 14.9.21.61 1.17.35 1-.26-1.94-5.68-4.63-11.62-9-15.86-1-1-4.39-3.94-5.59-1.54-.52 1 0 2.81.27 3.84.62 2.73 1.52 5.41 2.38 8.08 2.49 7.75 5 15.49 6.8 23.44.14.63 1.1.36 1-.26h-.09z" fill="#FCB32C" /><path d="M250.43 364.26c3.78 3.65 7.8 7.07 11.8 10.48.49.41 1.2-.29.71-.71-4-3.41-8-6.83-11.81-10.48-.46-.45-1.17.26-.7.71z" fill="#1F65A6" /><ellipse fill="#1F65A6" transform="rotate(-84.11 189.996 82.843)" cx="189.996" cy="82.843" rx="4.16" ry="3.42" /><ellipse fill="#1F65A6" transform="rotate(-84.11 213.513 89.722)" cx="213.513" cy="89.722" rx="6.23" ry="5.95" /><path d="M190.54 4.07c3 1.65 4 6.62 5.09 9.65a139.782 139.782 0 0 1 3.08 9.74 140 140 0 0 1 4.07 20.8c.08.63 1.08.64 1 0a143.2 143.2 0 0 0-4.61-22.85c-1.17-3.87-2.41-7.68-3.87-11.41-1-2.49-1.76-5.42-4.25-6.77-.57-.31-1.07.56-.51.86v-.02zM247.54 16a192.37 192.37 0 0 1 1.78 44.27c-.05.64.95.64 1 0a193.62 193.62 0 0 0-1.82-44.54c-.09-.63-1.06-.36-1 .27h.04z" fill="#1F65A6" /><path d="M29.71 145l66.63-53.42a6.15 6.15 0 0 1 6.35-.82l115.82 51.6a6.15 6.15 0 0 1 3.46 7.11 10.17 10.17 0 0 1-2.44 4.47l-65.48 66.5a9.88 9.88 0 0 1-11.77 1.67l-102.84-55.7a24.35 24.35 0 0 1-11.76-14.83 6.36 6.36 0 0 1 2.03-6.58z" fill="#A3E7FC" /><path d="M30.18 151c10.16 6.48 20.91 12.13 31.43 18a9862.08 9862.08 0 0 0 46 25.42c9.82 5.4 19.7 10.68 29.44 16.21 2.54 1.45 5.07 3.2 8 3.81 4.32.91 8.15-1.87 11.3-4.5 5-4.14 9.42-9 14-13.63 16.22-16.48 32-33.57 49.51-48.77.48-.42-.23-1.13-.71-.71-15.38 13.39-29.46 28.32-43.72 42.87-5.54 5.66-11 11.38-16.77 16.84a34.21 34.21 0 0 1-7.83 6c-4.65 2.35-8.62-.17-12.68-2.51-23.54-13.59-47.67-26.19-71.43-39.4-12-6.69-24.35-13.11-36-20.52-.54-.35-1.05.51-.51.86l-.03.03z" fill="#1F65A6" /><path d="M44 133.62l-5.2-2.9a1.57 1.57 0 0 0-1.8.13l-6.83 5.31-.44 1.66a.92.92 0 0 0 .41 1l4.19 2.53 9.67-7.73z" fill="#6EBFFF" /><path d="M35.19 134.64c-7.1-7-15.89-5.43-19.45 4.29-4.64 12.64.64 27.47 3.49 39.9 1.79 7.75 3.16 15.63 2.17 23.6-.92 7.48-3.67 14.52-6.17 21.58-4.32 12.21-7.87 25.71-1.39 37.83.61 1.14 2.33.13 1.73-1-6.21-11.61-2.54-24.65 1.59-36.29 3.75-10.6 7.37-20.89 6.4-32.31-.92-10.83-4.62-21.16-6.44-31.83-1.06-6.26-1.75-13.27.06-19.46 1-3.34 2.89-6.81 6.21-8.32 4.07-1.86 7.5.6 10.39 3.44a1 1 0 1 0 1.41-1.42v-.01z" fill="#6EBFFF" /><path d="M27.88 273.07c0 9.38-1.5 28.85-13.52 28.85S.84 282.45.84 273.07c0-9.38 6.05-13.22 13.52-13.22s13.52 3.85 13.52 13.22z" fill="#6EBFFF" /><path d="M2 276.65c3.84-1.71 8.47-1.88 12.61-1.84 4.14.04 8.93.27 12.46 2.56.55.35 1-.51.51-.86-3.68-2.38-8.72-2.66-13-2.7-4.28-.04-9.11.2-13.12 2-.58.26-.07 1.13.51.87l.03-.03z" fill="#1F65A6" /><path d="M14.53 260.51c-.187 4.52-.28 9.047-.28 13.58a.5.5 0 0 0 1 0c0-4.527.093-9.053.28-13.58 0-.65-1-.64-1 0zM36.66 131.14l-6.33 5a.49.49 0 0 0 .1.78c1.63.89 3.24 1.81 4.8 2.81.55.34 1-.52.51-.87-1.57-1-3.18-1.91-4.81-2.8l.1.79 6.34-5c.5-.4-.21-1.1-.71-.71z" fill="#1F65A6" /><path d="M180.28 87.46s-30.24 9.91-44.68 14c-2.46.7-5.06 1.49-6.76 3.39-2.91 3.22-2.14 8.2-1.21 12.43 1.09 4.93 2.2 9.87 3.29 14.8.79 3.55 1.7 7.34 4.34 9.85a18.5 18.5 0 0 0 6.2 3.37 42.52 42.52 0 0 0 8 2.55c4.54.81 9.21.17 13.74-.76 2.62-.533 5.217-1.147 7.79-1.84l4.83-1.35 26.93-9.76-22.47-46.68z" fill="#FCB32C" /><path d="M201.89 133.63c-13.55 5.75-27.79 10.88-42.4 13.13a36.07 36.07 0 0 1-11.73 0 31.37 31.37 0 0 1-11.36-4.27c-3.47-2.37-4.26-6.62-5.11-10.45-.92-4.1-1.82-8.2-2.73-12.3-.14-.62-1.11-.36-1 .27 1 4.66 2 9.33 3.11 14 .76 3.26 1.75 6.64 4.46 8.82 2.71 2.18 6.41 3.28 9.6 4.24a32.39 32.39 0 0 0 11.68 1c7.57-.54 15.27-2.8 22.52-5a220 220 0 0 0 23.43-8.65c.59-.25.08-1.11-.5-.86l.03.07zM131.94 108.13a21.26 21.26 0 0 1 10.14 1.75c.59.26 1.1-.6.51-.86a22.3 22.3 0 0 0-10.65-1.89c-.64 0-.65 1 0 1z" fill="#1F65A6" /><path d="M134.13 103a48.94 48.94 0 0 1 8.71 2c1.7.58 3.36 1.18 4.16 2.9.71 1.51.24 3.46-.29 5a10.59 10.59 0 0 1-6.27 6.85c-2.45.85-5.16.38-7.62-.18-1.77-.41-3.75-.76-4.42-2.62a17.4 17.4 0 0 1-.9-5.49 8 8 0 0 1 6.9-8.46c.63-.11.36-1.07-.27-1-5.23.86-7.87 5-7.61 10 .1 2 .28 4.68 1.42 6.34 1.14 1.66 4.09 2.06 5.92 2.4 2.9.52 5.68.7 8.35-.77a12 12 0 0 0 5.59-7.21c.77-2.47.95-5.42-1.27-7.2-1.4-1.12-3.45-1.6-5.13-2.1a52.18 52.18 0 0 0-7-1.49c-.63.03-.9.95-.27 1.03z" fill="#1F65A6" /><path d="M96.82 204.31c1.32 4.36 1.69 9 2.39 13.49.61 4 1 8.78 3.22 12.26 1.73 2.75 5.19 2.25 7.06-.22 1.19-1.56 1.61-3.55 2.29-5.35.68-1.8 2-3.87 4.35-3.26a9.61 9.61 0 0 1 4.76 2.78c3.7 4.12 4.58 10.38 5.52 15.63.73 4 .95 9 3 12.6 1.3 2.26 4 2.41 5.3 0 1.67-3.14.79-7.56.29-10.9-.6-4-.83-9.89 4.08-11.37 4.39-1.32 5.13 3.55 8.52 4.66 2.74.9 5.12-1.47 6.6-3.49a16 16 0 0 0 3-10.26c0-.64-1-.64-1 0a14.92 14.92 0 0 1-3.49 10.58c-1.76 2-4.27 3.14-6.48 1a25.88 25.88 0 0 0-2.74-2.8c-3.87-2.69-8.41.75-9.46 4.66-1.14 4.21.54 8.67.57 12.94 0 1.64 0 4.48-1.57 5.51-2 1.26-3-1.36-3.46-2.78-2.78-8.28-1.68-18.62-7.27-25.83-2.07-2.68-7.28-6-10.1-2.59-1.2 1.43-1.59 3.43-2.2 5.09-.75 2-3 5.69-5.7 4-1.45-.9-2-3.29-2.44-4.8a63.21 63.21 0 0 1-1.52-7.46c-.76-4.77-1.12-9.73-2.53-14.36a.517.517 0 0 0-1 .26l.01.01zM133.48 155.38c.58 3.54 1.29 7.4 4.22 9.8 3.15 2.58 5.89 1.19 9.38.23a11.22 11.22 0 0 1 8 .72c1.86.92 3.15 2.49 4.75 3.77a8.46 8.46 0 0 0 8.4 1.28c7.83-2.77 9.22-12.06 14.14-17.74 3-3.48 6.93-3.8 10.81-5.67a17.6 17.6 0 0 0 7.65-7.24.5.5 0 0 0-.83-.53 16.65 16.65 0 0 1-8.55 7.42c-2.88 1.09-5.7 1.58-8.11 3.65-5.61 4.8-6.57 13.24-12.58 17.63-4 2.94-8.08 2.48-11.63-.83a13.14 13.14 0 0 0-7.43-3.81 12.22 12.22 0 0 0-4.09.17c-2.09.45-4 1.75-6.22 1.49-5.07-.61-6.23-6.51-6.9-10.62-.11-.64-1.07-.37-1 .26l-.01.02zM126 279.23c1.42 5.26-5.11 9.5-2.89 14.74 1.22 2.87 4.53 3.6 6.65 1.2 3.81-4.31-1-12-2.85-16.33-.25-.59-1.11-.08-.86.51 1.38 3.22 3.17 6.52 3.86 10a6 6 0 0 1-.54 4.72c-1.24 1.78-3.78 2.15-5.05.12-1.36-2.18-.31-4.75.71-6.81 1.33-2.72 2.77-5.3 1.93-8.4a.5.5 0 0 0-.96.25zM159.09 245.13c.47 6.35-1.75 12.4-2 18.69-.05 1.31.71 11.39 4 8.1 1.42-1.43 1.38-4.41 1.37-6.26a80.32 80.32 0 0 0-.73-10.16c-.44-3.51-1.1-7-1.66-10.5-.11-.63-1.07-.36-1 .27 1.15 7.1 2.73 14.38 2.34 21.61a13 13 0 0 1-.27 2.25c-.32 1.34-.19 2.08-1.54 1s-1.39-2.55-1.49-4.27a33.13 33.13 0 0 1 .58-7.43c.73-4.43 1.7-8.81 1.36-13.34 0-.59-1-.6-.96.04z" fill="#6EBFFF" /><path d="M233.71 400.64l-1.08-41.12c-.627-24.06-1.263-48.117-1.91-72.17-.23-8.48-.45-17-.72-25.44 0-.64-1-.64-1 0 .58 18.62 1 37.24 1.53 55.86.613 22.667 1.21 45.35 1.79 68.05l.39 14.82a.5.5 0 0 0 1 0zM249.25 274c-.45 33.48-1.25 67-2.08 100.44-.08 2.93-.15 5.86-.23 8.79a.5.5 0 0 0 1 0c.667-26.247 1.267-52.497 1.8-78.75.187-10.16.357-20.32.51-30.48a.5.5 0 0 0-1 0zM121.66 140.06c-5.83 2.48-8 10.45-4.93 15.77a9.86 9.86 0 0 0 14.91 2.69c.49-.41-.22-1.11-.71-.7a8.89 8.89 0 0 1-13.8-3.42c-2.16-4.8.08-11.37 5-13.47.59-.25.08-1.11-.51-.87h.04z" fill="#1F65A6" /><path d="M123.27 435.55c1.72 3.54 8.21 6.3 13.15 4.7 4.94-1.6 9.08-5.13 14-6.74 5.95-1.95 25.61.18 31.79 1.19 8 1.31 10.37 12.19 18.59 8.39 8.22-3.8 4.58-11.71 2.52-15.94-1.74-3.57 6.46-7.75.94-14s-11.26-1.31-13.75 1.59c-1.49 1.74-2.71 3.87-4.8 4.79a10.47 10.47 0 0 1-4.71.47l-26.24-1.29c-2.18-.11-4.62-.34-6-2a12.42 12.42 0 0 1-1.65-3.51c-2.339-5.99-9.09-8.949-15.08-6.61-5.99 2.339-8.949 9.09-6.61 15.08.67 1.83 1.83 3.73 1.21 5.58-.84 2.36-5.08 4.75-3.36 8.3z" fill="url(#e)" /></g></svg>

            </div>

            <div class="wv-header--page--centered mb-25 mt-5">
                <div class="wv-header__title">
                    <div class="wv-heading--title error-title">The page you tried to visit doesn't exist.</div>
                    <div class="wv-heading--subtitle">This is usually caused by an incorrect or outdated link.</div>
                </div>
            </div>

            <div class="wv-content__primary">
                <p class="wv-text mt-15 mb-15">Use your browser's back button and try again, or try one of the following:</p>
                <ul class="wv-list--plain--vertical">
                    <li><a class="wv-text--link" href="signup.html">Sign up for a free account</a></li>
                    <li><a class="wv-text--link" href="signin.html">Sign in</a></li>
                </ul>

                <br class="wv-divider--whitespace">

                <p class="wv-text wv-text--fine-print">
                    Error code: <span class="wv-text--code">404</span>
                </p>
            </div>
        </div>
    </div><!-- End container -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- moment js -->
    <script src="~/assets/js/moment.min.js"></script>

    <!-- daterangepicker js -->
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <!-- dev extreme js -->
    <script src="~/assets/js/dx.all.js"></script>

    <!-- custom js -->
    <script src="~/assets/js/custom.js"></script>
</body>
</html>
